@()(implicit request: play.api.mvc.RequestHeader)

@main("首页") {

	<div class="row">
		<div class="col-md-9">
			<div class="jumbotron">
				<p class="text-justify">
					水稻遗传资源研究室为广东省农业科学院水稻研究所的基础学科，主要从事稻种资源收集、保存、鉴定、评价、创新与利用等研究。学科历史悠久，基础厚实，拥有广东水稻种质中期库和国家种质广州野生稻圃等种质资源保存设施，现已收集保存稻种资源近24000份，位居国内各省市前列。其中中期库保存省内外地方品种、育成品种、国外品种18000多份，野生稻圃保存国内外野生稻20个种5000多份样本。
				</p>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-database"></i> Resources</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
								<div class="row">
									<div class="col-sm-6">
										<img src="@routes.Assets.at("images/local.png")" style="width: 100px;
											height: 80px;
											margin-top: 20px;">
										<a style="margin-top: 15px" href="@routes.LocalSampleController.viewBefore()" target="_blank" class="btn btn-success" role="button"><i class="fa fa-hand-o-right"></i>
											View</a>
									</div>
									<div class="col-sm-6" style="margin-left: -25px">
										<h3>地方稻种

										</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="thumbnail">
								<div class="row">
									<div class="col-sm-6">
										<img src="@routes.Assets.at("images/breed.png")" style="width: 100px;
											height: 80px;
											margin-top: 20px;">
										<a style="margin-top: 15px" href="@routes.BreedSampleController.viewBefore()" target="_blank" class="btn btn-success" role="button"><i class="fa fa-hand-o-right"></i>
											View</a>
									</div>
									<div class="col-sm-6" style="margin-left: -25px">
										<h3>育成品种</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="thumbnail">
								<div class="row">
									<div class="col-sm-6">
										<img src="@routes.Assets.at("images/wild.png")" style="width: 100px;
											height: 80px;
											margin-top: 20px;">
										<a style="margin-top: 15px" href="@routes.WildSampleController.viewBefore()" target="_blank" class="btn btn-success" role="button"><i class="fa fa-hand-o-right"></i>
											View</a>
									</div>
									<div class="col-sm-6" style="margin-left: -25px">
										<h3>野生稻</h3>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="col-md-3">

			<div class="panel panel-default" style="margin-top: 20px">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-cube"></i>统计</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right"></i> 地方稻种: 4,000+</li>
						<li><i class="fa fa-chevron-circle-right"></i> 育成品种: 1000+</li>
						<li><i class="fa fa-chevron-circle-right"></i> 野生稻: 2,000+</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bookmark"></i> Release Notes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right"></i>
							RiceDb is available online since April 2018.
						</li>
						<li><i class="fa fa-chevron-circle-right"></i>
							Phenotype data is publicly accessible since January 2017.
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
}
