@()(implicit request: play.api.mvc.RequestHeader)

@main("首页") {

	<div class="row">
		<div class="col-md-9">
			<div class="jumbotron">
				<p class="text-justify">
					水稻是草本稻属的一种，属谷类，也是稻属中作为粮食的最主要最悠久的一种，区别于旱稻。水稻原产于中国和印度，七千年前中国长江流域的先民们就曾种植水稻。
					水稻按稻谷类型分为籼稻和粳稻、早稻和中晚稻、糯稻和非糯稻。还有其它分类，按是否无土栽培分为水田稻与浮水稻；按生存周期分为季节稻与“懒人稻”（越年再生稻）；按高矮分为普通水稻与2米左右的巨型稻；按耐盐碱性分为普通淡水稻与“海水稻”（其实它主要使用淡水）。
					水稻所结子实即稻谷，稻谷脱去颖壳后称糙米，糙米碾去米糠层即可得到大米。世界上近一半人口以大米为主食。水稻除可食用外，还可以酿酒、制糖作工业原料，稻壳和稻秆可以作为牲畜饲料。我国水稻主产区主要是东北地区、长江流域、珠江流域。水稻属于直接经济作物，大米饭是我国东北居民与南方居民的主食。
				</p>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-database"></i> Resources</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
								<div class="row">
									<div class="col-sm-6">
										<img src="@routes.Assets.at("images/rice1.jpg")" style="width: 100px;
											height: 80px;
											margin-top: 20px;">
										<a style="margin-top: 15px" href="@routes.LocalSampleController.viewBefore()" target="_blank" class="btn btn-success" role="button"><i class="fa fa-hand-o-right"></i>
											View</a>
									</div>
									<div class="col-sm-6" style="margin-left: -25px">
										<h3>地方稻种

										</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="thumbnail">
								<div class="row">
									<div class="col-sm-6">
										<img src="@routes.Assets.at("images/rice2.jpg")" style="width: 100px;
											height: 80px;
											margin-top: 20px;">
										<a style="margin-top: 15px" href="@routes.BreedSampleController.viewBefore()" target="_blank" class="btn btn-success" role="button"><i class="fa fa-hand-o-right"></i>
											View</a>
									</div>
									<div class="col-sm-6" style="margin-left: -25px">
										<h3>育成品种</h3>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="thumbnail">
								<div class="row">
									<div class="col-sm-6">
										<img src="@routes.Assets.at("images/wild.jpg")" style="width: 100px;
											height: 80px;
											margin-top: 20px;">
										<a style="margin-top: 15px" href="@routes.WildSampleController.viewBefore()" target="_blank" class="btn btn-success" role="button"><i class="fa fa-hand-o-right"></i>
											View</a>
									</div>
									<div class="col-sm-6" style="margin-left: -25px">
										<h3>野生稻</h3>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

		<div class="col-md-3">

			<div class="panel panel-default" style="margin-top: 20px">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-cube"></i>统计</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right"></i> 地方稻种: 4,000+</li>
						<li><i class="fa fa-chevron-circle-right"></i> 育成品种: 1000+</li>
						<li><i class="fa fa-chevron-circle-right"></i> 野生稻: 2,000+</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-bookmark"></i> Release Notes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><i class="fa fa-chevron-circle-right"></i>
							RiceDb is available online since April 2018.
						</li>
						<li><i class="fa fa-chevron-circle-right"></i>
							Phenotype data is publicly accessible since January 2017.
						</li>
					</ul>
				</div>
			</div>

		</div>

	</div>
}
