@()(implicit request: RequestHeader)
@main("外引种表型信息搜索") {
	<div class="row">
		<div class="form-group col-sm-12">
			<h2 class="page-heading"
			style="text-align: left;
				border-bottom: 5px solid #e9f3f4">
				外引种表型信息搜索
			</h2>
		</div>
	</div>

			<form class="registration-form form-horizontal" id="form" accept-charset="UTF-8">
				<div id="selectBlock">
					<div id="content">
					</div>

					<div class="form-group">
						<div class="actions col-sm-offset-2 col-sm-2">
							<button type="button" class="btn btn-default" title="新增" onclick="ExIntroductionSearch.addSelect">
								新增条件
							</button>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="actions col-sm-offset-2 col-sm-3">
						<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="ExIntroductionSearch.mySearch">
							搜索
						</button>
					</div>
				</div>
			</form>

			<label>请选择要显示的列:</label>
			<div id="checkbox" class="checkbox">
			</div>

			<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
			data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
				<thead>
					<tr>
						<th data-field="number" data-sortable="true" data-formatter="ExIntroductionView.numberFmt">统一编号</th>
						<th data-field="warehouseNumber" data-sortable="true">库编号</th>
						<th data-field="unitNumber" data-sortable="true">单位编号</th>
						<th data-field="name" data-sortable="true">品种名称</th>
						<th data-field="oldName" data-sortable="true">品种原名</th>
						<th data-field="family" data-sortable="true">科名</th>
						<th data-field="genus" data-sortable="true">属名</th>
						<th data-field="scientificName" data-sortable="true">学名</th>
						<th data-field="sourceArea" data-sortable="true">原产地</th>
						<th data-field="seedSource" data-sortable="true">种子来源</th>
						<th data-field="storeUnit" data-sortable="true">保存单位</th>
						<th data-field="originalNumber" data-sortable="true" id="marker">原号引号</th>
						<th data-field="comment" data-sortable="true">备注</th>
						<th data-field="storeUnit2" data-sortable="true" >保存单位_2</th>
						<th data-field="province" data-sortable="true" >省</th>
						<th data-field="sampleKind" data-sortable="true" >样品类型</th>
					</tr>
				</thead>
			</table>

			<script>
				$(function () {
					ExIntroductionSearch.init

				})
		</script>

}