@()(implicit request: play.api.mvc.RequestHeader)
@admin.main("管理育成品种表型信息") {
	<div class="container">
		<div class="row">
			<div class="form-group col-sm-12">
				<h2 class="page-heading"
				style="text-align: left;
					border-bottom: 5px solid #e9f3f4">管理育成品种表型信息</h2>
			</div>
		</div>

		<label>请选择要显示的列:</label>
		<div id="checkbox" class="checkbox">

		</div>

		<div id="toolbar">
			<button type="button" class="btn btn-primary" id="deleteButton" disabled="disabled" onclick="BreedSampleManage.deletes">
				<i class="glyphicon glyphicon-trash"></i>&nbsp;删除选中数据
			</button>
		</div>

		<div class="table-responsive" id="tableContent">
			<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
			data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
				<thead>
					<tr>
						<th data-field="state" data-checkbox="true"></th>
						<th data-field="number" data-sortable="true" data-formatter="BreedSampleManage.numberFmt">保存号</th>
						<th data-field="name" data-sortable="true" id="marker">名称</th>
						<th data-field="comment" data-sortable="true">备注</th>
						<th data-field="operate" data-formatter="BreedSampleManage.operateFmt">操作</th>
						<th data-field="aOperate" data-formatter="BreedSampleManage.aOperateFmt">附件操作</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	<script>
			$(function () {
				BreedSampleManage.init

			})

	</script>

}