@()(implicit request: play.api.mvc.RequestHeader)
@admin.main("修改密码") {
	<style>
			.heading-border, .page-heading {
				padding-bottom: 0px;
			}
			.icon2x {
				width: 28px;
				font-size: 24px;
				min-width: 28px;
				display: inline-block;
			}
	</style>
	<div class="container">
		<div class="col-sm-12">
			<section class="main-col" style="margin: 0 auto;">
				<div class="register">
					<div class="page-heading">
						<h2 class="col-sm-offset-1" style="font-size: 25px">修改密码</h2>
					</div>
					<form id="form" class="registration-form form-horizontal" accept-charset="UTF-8"
					action="@routes.AdminController.changePassword()" autocomplete="off" method="post" style="margin-top: 30px;">

							<div class="col-sm-offset-5">
								<span class="error" style="line-height: 35px;">@request.flash.get("info")</span>
							</div>

						<div class="form-group">
							<label class="control-label col-sm-5">旧密码:</label>
							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon"><em
									class="fa fa-key icon2x"></em></span>
									<input id="loginPassword" name="password" placeholder="旧密码" type="password" autofocus="autofocus" class="form-control" required value="" maxlength="30"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-5">新密码:</label>
							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon"><em
									class="fa fa-key icon2x"></em></span>
									<input id="loginPassword" name="newPassword" placeholder="新密码" type="password"
									required class="form-control" maxlength="30"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-sm-5">再次确认新密码:</label>
							<div class="col-sm-3">
								<div class="input-group">
									<span class="input-group-addon"><em
									class="fa fa-key icon2x"></em></span>
									<input id="loginPassword" name="newPasswordAgain" placeholder="再次确认新密码" type="password" class="form-control" maxlength="30"/>
								</div>
							</div>
						</div>

						<div class="actions col-sm-offset-5 col-sm-3">
							<input type="submit" id="loginSubmit" value="确认修改"
							class="btn btn-primary btn-lg" style="width: 100%">
						</div>
					</form>

				</div>
			</section>
		</div>
	</div>

	<script>
			$(function () {

				formValidation()

			})

			function formValidation() {
				$('#form').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						account: {
							validators: {
								notEmpty: {
									message: "账号不能为空！"
								}
							}
						},
						password: {
							validators: {
								notEmpty: {
									message: "密码不能为空！"
								}
							}
						},
						newPassword: {
							validators: {
								notEmpty: {
									message: "新密码不能为空！"
								}
							}
						},
						newPasswordAgain: {
							validators: {
								identical: {
									field: 'newPassword',
									message: '两次密码不一样!'
								}
							}
						}
					}

				});
			}


	</script>

}