@(id:Option[Int])(implicit request: play.api.mvc.RequestHeader)
@admin.main("权限管理") {
	<div class="container">
		<div class="row">
			<div class="form-group col-sm-12">
				<h2 class="page-heading"
				style="text-align: left;
					border-bottom: 5px solid #e9f3f4">
					权限管理
				</h2>
			</div>
		</div>


		<form class="registration-form form-horizontal" id="form" accept-charset="UTF-8">

			<input id="userId" hidden value="@id">

			<div class="form-group">
				<label class="control-label col-sm-2">用户:</label>
				<div class="col-sm-3">
					<select name="name"  class="checkbox form-control" onchange="LimitUpdate.userChange(this)"></select>
				</div>
			</div>

		</form>

		<hr>

		<ul id="myTab" class="nav nav-tabs">
			<li class="active"><a href="#localSample" data-toggle="tab">
				地方稻种</a></li>
			<li><a href="#breedSample" data-toggle="tab">育成品种</a></li>
			<li><a href="#wildSample" data-toggle="tab">野生稻</a></li>
			<li><a href="#exIntroductionSample" data-toggle="tab">外引种</a></li>

		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active" id="localSample">
				<div style="margin-top: 15px">
					<div class="row">
						<div class="col-sm-12">

							<div class="table-responsive" id="tableContent">
								<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
								data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="breedSample">
				<div>

					<div class="row">
						<div class="col-sm-12">

							<div class="table-responsive" id="tableContent">
								<table class="display table table-bordered" id="breedTable" data-pagination="true" data-search="true"
								data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">

								</table>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="tab-pane fade" id="wildSample">
				<div>

					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive" id="tableContent">
								<table class="display table table-bordered" id="wildTable" data-pagination="true" data-search="true"
								data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">

								</table>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="exIntroductionSample">
				<div>

					<div class="row">
						<div class="col-sm-12">
							<div class="table-responsive" id="tableContent">
								<table class="display table table-bordered" id="exIntroductionTable" data-pagination="true" data-search="true"
								data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">

								</table>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


	<script>
			$(function () {
				LimitUpdate.init
			})

	</script>

}